@import './components/ej';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


:root{
    --primario:#35ffda;
    --primario-Oscuro: #2fe3c2;
    --secundario: #222222;
    --blanco: #fff;

    --fuente-principal:'Raleway', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62,5%;
  }
  *, *:before, *:after{
    box-sizing: inherit;
  }
  
  /** Globales **/
  body {
    background-color: var(--primario);  
    font-size: 1,6rem;
    /** interlineado **/
    line-height: 1.5;
  }
  p {
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal); 
    color: var(--negro)
  }
  a {
    text-decoration: none;
  }
  img{
    max-width: 100%
  }
  .contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }
  h1, h2, h3 {
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal); 
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.4rem;
  }

  /** Header **/
  .header {
      display: flex;
      justify-content: center;
  }
  .header__logo {
      margin: 2rem 0;
      width:130px;
      height: 110px;
      
  }
  .navigator {
    background-color: var(--primario-Oscuro);  
    padding:1.5em 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .navigator__enlace {
    font-family: var(--fuentePrincipal); 
    color: var(--blanco); 
    font-size: 20px;
  }
  .navigator__enclace--activo,
  .navigator__enlace:hover {
    color: var(--secundario); 
  }



  